            /************************************/
            /*                                  */
            /* -------- Sitewide styles ------- */
            /*                                  */
            /************************************/

/* ---------- general styles ------------ */

/* @import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&family=Tillana:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Nunito+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: #000;
     /* url(../images/u_symbol_dark_grey.png) fixed no-repeat center center / contain; */
    font-family: 'Nunito Sans', sans-serif;
    /* font-family: 'Tillana', sans-serif; */
    color: #fff;
}

body a {
    color: #fff;
    text-decoration: none;
}

@media(hover: hover) and (pointer: fine) {
    body a:hover {
        color: #8b817f;
    }
}

h1, h2, h3 {
    /* font-family: 'Skranji', sans-serif; */
    font-family: 'Josefin Sans', sans-serif;
    /* font-weight: 400; */
    font-weight: 700;
    padding-top: 5px;
}

h1 {
    text-transform: uppercase;
}

hr {
    border-top: 1px solid #8b817f;
    width: 66%;
    margin: 10px auto 0;   
}

ul {
    list-style-type: none;
}

/* -------- range input sliders -------- */

input[type="range"] {
    -webkit-appearance: none !important;
    height: 5px;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    background: #040404;
    background-image: linear-gradient(135deg, #8b817f 0%, #000 80%);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    color: #fff;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #0a0a0a;
    background: url(../images/graphics/range-thumb.png) center center / cover, linear-gradient(135deg, #2c3136, #1d2023);
    box-shadow: 2px 2px 4px #111214,
                -2px -2px 4px #36383c,
                inset 3px 3px 6px #404348,
                inset -3px -3px 6px #111214;
    cursor: -webkit-grab;
}

input[type="range"]:active::-webkit-slider-thumb {
    box-shadow: 2px 2px 4px #111214,
                -2px -2px 4px #36383c,
                inset -3px -3px 6px #404348,
                inset 3px 3px 6px #111214;
    cursor: -webkit-grabbing;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none !important;
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #0a0a0a;
    background: url(../images/graphics/range-thumb.png) center center / cover, linear-gradient(135deg, #2c3136, #1d2023);
    box-shadow: 2px 2px 4px #111214,
                -2px -2px 4px #36383c,
                inset 3px 3px 6px #404348,
                inset -3px -3px 6px #111214;
    cursor: grab;
}

input[type="range"]:active::-moz-range-thumb {
    box-shadow: 2px 2px 4px #111214,
                -2px -2px 4px #36383c,
                inset -3px -3px 6px #404348,
                inset 3px 3px 6px #111214;
    cursor: grabbing;
}

input[type="range"]::-ms-thumb {
    -webkit-appearance: none !important;
    position: relative;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid #0a0a0a;
    background: url(../images/graphics/range-thumb.png) center center / cover, linear-gradient(135deg, #2c3136, #1d2023);
    box-shadow: 2px 2px 4px #111214,
                -2px -2px 4px #36383c,
                inset 3px 3px 6px #404348,
                inset -3px -3px 6px #111214;
    cursor: grab;
}

input[type="range"]:active::-ms-thumb {
    box-shadow: 2px 2px 4px #111214,
                -2px -2px 4px #36383c,
                inset -3px -3px 6px #404348,
                inset 3px 3px 6px #111214;
    cursor: grabbing;
}

/* dropdown menu toggle buttons */

.menu-toggle-btn {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    /* font-family: 'Skranji', sans-serif; */
    padding: 10px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media(hover: hover) and (pointer: fine) {
    .menu-toggle-btn:hover {
        color: #8b817f;
    }
}

.menu-toggle-btn span {
    transition: all 0.25s;
}

.menu-icon {
    width: 30px;
    margin-right: 10px;
    padding: 4px 0;
}

.menu-icon span {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    display: block;
}

.menu-icon span:nth-of-type(2) {
    margin: 5px 0;
}

.menu-btn-text {
    font-size: 1.25rem;
    padding-top: 5px;
}

.menu-toggle-btn-active .menu-icon span:nth-of-type(2) {
    display: none;
}

.menu-toggle-btn-active .menu-icon span:nth-of-type(1) {
    transform: translateY(2px) rotate(45deg);
}

.menu-toggle-btn-active .menu-icon span:nth-of-type(3) {
    transform: translateY(-2px) rotate(-45deg);
}

.menu-toggle-btn-active .menu-btn-text {
    text-transform: uppercase;
}

.toggle-btn {
    background: transparent;
    color: #fff;
    cursor: pointer;
}

/* modals */

.popup-modal {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 10px;
    position: fixed;
    left: 0;
    z-index: 6;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.popup-modal-content {
    width: 90%;
    max-width: 750px;
    background: url('../images/u_symbol_dark_grey.png') no-repeat center center / contain, #000;
    border: 2px solid #2c3136;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.alert-modal {
    width: 90vw;
    max-width: 600px;
    background: url('../images/u_symbol_dark_grey.png') no-repeat center center / contain, #000;
    border: 2px solid #2c3136;
    text-align: center;
}

.alert-modal .aria-alert {
    height: 0;
    display: block;
    overflow: hidden;
}

.modal-btn {
    height: 40px;
    padding: 5px 10px;
    border: 1px solid #0a0a0a;
    border-radius: 5px;
    color: #fff;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    background: linear-gradient(135deg, #2c3136, #1d2023);
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
                inset 3px 3px 6px #404348,
                inset -3px -3px 6px #111214;
    cursor: pointer;
}

.modal-btn:active {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
                inset -3px -3px 6px #404348,
                inset 3px 3px 3px #111214;
    font-size: 0.95rem;
}

.modal-close-btn {
    height: 30px;
}

/* ------------ main header ----------- */

#main-header {
    /* background-color: rgba(0, 0, 0, 0.9); */
    background-color: #000;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 5;

    display: flex;
    justify-content: space-between;
}

/* header logo */

#header-logo {
    height: 100px;
    margin-left: 20px;
}

#header-logo img {
    height: 100px;
}

/* header navigation */

#main-menu {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    /* font-family: 'Skranji', sans-serif; */
    font-size: 1.125rem;
    margin-right: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#main-menu-btn.menu-toggle-btn {
    width: 110px;
}

#main-menu-items li {
    display: inline;
    text-align: center;
    padding: 0 10px;
}

/* active header navigation links */

.active-link {
    text-transform: uppercase;
    color: #8b817f;
}

/* old header navigation links */

#main-menu-inline li {
    display: inline;
    text-align: center;
    padding: 0 10px;
}

/* old active header navigation links */

/* .active-link {
    text-transform: uppercase;
    border-bottom: double #fff;
} */

/* old drop-down navigation menu for smaller screen widths */

#main-menu-dropdown {
    position: absolute;
    right: 20px;
    top: 40px;
}

#main-menu-dropdown summary {
    list-style-type: none;
    text-align: right;
}

@media(hover: hover) and (pointer: fine) {
    #main-menu-dropdown summary:hover {
        color: #8b817f;
        cursor: pointer;
    }
}

#main-menu-dropdown[open] summary {
    text-transform: uppercase;
}

#main-menu-dropdown ul {
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
}

#main-menu-dropdown li {
    padding-top: 5px;
    text-align: center;
}

/* ------------ footer ------------ */

footer {
    background-color: #000;
    height: 100px;
}

.social-networks {
    line-height: 3rem;
    font-size: 0.875rem;
    list-style-type: none;

    display: flex;
    justify-content: space-evenly;
}

.social-networks i {
    color: #fff;
}

@media(hover: hover) and (pointer: fine) {
    .social-networks i:hover {
        color: #8b817f;
    }
}

#copyright-statement {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    /* font-family: 'Skranji', sans-serif; */
    color: inherit;
    font-size: 0.875rem;
    line-height: 1.5rem;
    text-align: center;
}

            /************************************/
            /*                                  */
            /* --------- Landing page --------- */
            /*                                  */
            /************************************/

/* general styles */

#homepage-main-content {
    height: 100vh;
    overflow: hidden;
}

/* hero image */

#homepage-hero-image {
    background: url(../images/band_outside_sin_e.jpg) fixed no-repeat center center / cover;
    height: 100vh;

    display: flex;
    justify-content: center;
}

/* call to action */

#call-to-action {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100px;
    width: 300px;
    border-radius: 5px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-self: flex-end;
    
}

#call-to-action img {
    height: 100px;
    width: 100px;
    padding: 5px;
}

#call-to-action div {
    float: right;
    width: 200px;
    padding: 10px;
    text-align: center;
    font-size: 1.125rem;
}

#call-to-action span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
}

#call-to-action p:nth-of-type(2) {
    font-weight: 700;
    text-transform: uppercase;
}

#call-to-action i {
    padding: 0 9px;
}

            /************************************/
            /*                                  */
            /* --------- Band bio page -------- */
            /*                                  */
            /************************************/

/* general styles */

#band-bio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#band-bio a {
    text-decoration: underline;
}

/* heading */

#band-bio-head {
    margin: 120px auto 20px;
}

#band-bio-head h2 {
    text-transform: uppercase;
    text-align: center;
}

#band-bio-head p {
    padding: 0 20px;
    font-size: 0.75rem;
    font-weight: 700;
    text-align: center;
}

#band-bio-head img {
    margin-top: 20px;
    width: 100vw;
    max-width: 1280px;
}

/* general band page body styling */

.band-bio-body {
    margin: 10px 20px;
    max-width: 950px;
}

.band-bio-body p {
    padding: 10px 0;
    font-size: 1.125rem;
}

.band-bio-body div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.band-bio-body h3 {
    padding-top: 10px;
    text-align: center;
}

/* band page main body images */

.bio-image {
    width: 33%;
    margin: 10px;
    border-radius: 20px;
}

/* band members */

#band-members img {
    border-radius: 50%;
}

/* afterword */

#band-bio-afterword {
    margin: 10px 20px;
    max-width: 950px;
    font-size: 1.125rem;
}

#band-bio-afterword p:last-of-type {
    padding: 30px 0 10px 0;
    text-align: center;
    text-transform: uppercase;
}

#band-bio-afterword div {
    width: 100%;
    
    display: flex;
    justify-content: space-evenly;
}

            /************************************/
            /*                                  */
            /* ------ Generic page styles ----- */
            /*                                  */
            /************************************/

/* general styles for following pages - applies to music, video, news, gallery and contact pages */

.general-main-body {
    margin: 0 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.media-page-heading {
    margin: 120px 0 10px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.media-page-heading img {
    height: 20px;
}

.page-divider-heading {
    scroll-margin-top: 100px;
    padding: 20px 0;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.page-divider-heading img {
    height: 20px;
}

iframe {
    width: 300px;
    margin: 10px 0;
    border-radius: 5px;
}

/* old styles */

details[open] summary {
    color: #8b817f;
}

summary {
    list-style-type: none;
}

/* The following is an attempt to fix a bug I noticed in Safari alone, where the  default marker on the summary element was still showing. According to various searches, this is apparently because `list-style-type` isn't supported on the summary element in webkit-based browsers, although it seems to work on ul and li elements. I found one suggestion on Stack Overflow, here: https://stackoverflow.com/a/66814239; another on GitHub, here: https://github.com/Fyrd/caniuse/issues/5869; and a third on Stack Overflow, here: https://stackoverflow.com/a/70834941. I've combined two of them below. */

summary::marker {
    display: none;
    content: none;
}

@media(hover: hover) and (pointer: fine) {
    summary:hover {
        color: #8b817f;
        cursor: pointer;
    }
}

            /************************************/
            /*                                  */
            /* ----------- Music page --------- */
            /*                                  */
            /************************************/

/* popup alert */

#music-page-alert {
    top: 5px;
    left: auto;
    transform: translateY(-105%);
    transition: all 0.5s;

    align-self: center;
}

#music-page-alert.active {
    transform: translateY(0);
}

#music-page-alert.hidden {
    display: none;
}

#music-page-alert .modal-text p {
    padding-bottom: 7.5px;
}

#music-page-alert .modal-text p:first-of-type {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    font-size: 1.125rem;
    padding-top: 2.5px;
}

/* headings */

#music h1, #music h2, #music h3 {
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

/* albums */

#albums {
    display: flex;
    justify-content: space-evenly;
}

#albums section {
    margin: 10px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#albums hr {
    width: 260px;
}

.album-art {
    height: 260px;
    width: 260px;
}

.album-art img {
    width: 100%;
    object-fit: cover;
}

/* mini-player popups */

#fossils-listen {
    position: relative;
}

.mini-player {
    height: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 50px;
    z-index: 1;
    overflow: hidden;
    transition: all 0.25s;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.mini-player-open {
    height: 260px;
}

.mini-player-btn.menu-toggle-btn {
    width: 100%;
    height: 50px;
}

.mini-player-btn .menu-icon {
    position: relative;
}

.mini-player-btn .menu-icon i {
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    font-size: 18px;
    text-shadow: -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
}

.mini-player-btn.menu-toggle-btn-active .menu-icon i {
    font-size: 14px;
}

/* ful-featured player launch options modal */

#player-launch-modal {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: all 0.5s;
}

#player-launch-modal.active {
    opacity: 1;
}

#player-launch-modal.hidden {
    display: none;
}

#launch-modal-content {
    min-width: 320px;
    min-height: 640px;
}

.launch-options {
    padding: 10px;
}

.launch-options .modal-text {
    padding: 10px 0 20px;
}

.launch-options h2 {
    padding-bottom: 10px;
}

.launch-new-tab-link {
    padding-top: 15px;
}

.launch-iframe-link {
    padding: 15px 0;
}

#plm-close-btn {
    margin: 10px 0;
}

/* streaming links / embeds */

#fossils ul {
    text-align: center;
}

#fossils-stream li {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

#too-late p {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

            /************************************/
            /*                                  */
            /* --------- Music players -------- */
            /*                                  */
            /************************************/

/* -------- general styles -------- */

/* tracklist buttons */

.tracklist-btn {
    position: relative;
    width: 100%;
    padding: 0 5px;
    background: transparent;
    font-family: 'Nunito Sans', sans-serif;
    /* font-family: 'Tillana', sans-serif; */
    font-size: 0.75rem;
    color: #fff;
    text-align: left;
    text-shadow: 5px 5px #090909;
    cursor: pointer;

    display: flex;
    align-items: center;
}

.num-span {
    margin-right: 2.5px;
    transform: translateY(1px);
}

.track-name {
    font-size: 1.075rem;
}

.track-name.active-name {
    text-transform: uppercase;
    font-size: 1.05rem;
}

.track-times {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-52.5%);
    font-size: 0.8rem;
}

/* control buttons */

.player-btn {
    color: #fff;
    font-size: 1rem;
    border: 1px solid #0a0a0a;
    background: linear-gradient(135deg, #2c3136, #1d2023);
    box-shadow: 5px 5px 10px #111214,
                -3px -3px 6px #36383c,
                inset 4px 4px 8px #404348,
                inset -4px -4px 8px #111214;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.player-btn:active {
    box-shadow: 5px 5px 10px #111214,
                -3px -3px 6px #36383c,
                inset -4px -4px 8px #404348,
                inset 4px 4px 8px #111214;
    font-size: 0.95rem;
}

.prev-track-btn, .next-track-btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.play-pause-btn {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 1.25rem;
}

.play-pause-btn:active {
    font-size: 1.2rem;
}

.stop-btn, .loop-btn {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.stop-btn:active, .loop-btn:active {
    font-size: 0.95rem;
}

.mute-btn {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: 0.875rem;
}

.mute-btn:active {
    font-size: 0.825rem;
}

/* slider controls */

input[type="range"].player-slider{
    height: 7.5px;
    box-shadow: inset 2px 2px 3px -2px rgba(167, 169, 171, 0.3),
                inset 0 -1px 1px 0 #4a4c4e;
}

.seek-control, .volume-control {
    width: 100%;
    padding: 5px;
}

.seek-control .track-time, .seek-control .track-length {
    padding: 0 5px;
    font-size: 0.875rem;
}

.seek-slider.player-slider {
    width: 100%;
    margin: 5px 0;
}

.volume-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.volume-slider.player-slider {
    width: 60%;
    margin: 0 7.5px;
}

.volume-control .volume-output {
    width: 25px;
    font-size: 0.875rem;
    text-shadow: 5px 5px #090909;
}

/* ---------- mini player ---------- */

/* tracklist */

.mini-player-tracklist {
    width: 100%;
    /* height: 87.5px; */
    height: 33.3%;
    padding-top: 2.5px;
    margin-bottom: 2.5px;
}

.mini-player-tracklist .tracklist-btn {
    /* margin: 2.5px 0; */
    height: 33.3%;
}

/* control buttons container */

.mini-player-ctrls {
    width: 100%;
    padding: 5px 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* volume control */

.mini-player-vol {
    /* width: 220px; */
    width: 80%;
}

.volume-slider.mini-player-slider {
    width: 70%;
}

/* full player launch button */

.player-launch-btn {
    width: 235px;
    height: 40px;
    margin: 5px 20px 0;
    padding: 5px;
    border-radius: 5px;
    font-family: 'Nunito Sans', sans-serif;
    /* font-family: 'Tillana', sans-serif; */
    font-size: 1.05rem;
}

.player-launch-btn:active {
    font-size: 1rem;
}

/* ------ full featured player ------ */

/* main page */

#re-player-main {
    margin: 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* full player page header */

#re-player-head {
    background-color: #000;
    height: 100px;
    width: 100%;

    display: flex;
    justify-content: center;
}

/* player general styles */

#re-player {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#re-player-1st, #re-player-2nd {
    width: 300px;
    height: 340px;
    background: #1d2023;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#re-player-1st {
    border-radius: 5px 0 0 5px;
    box-shadow: inset 4px 4px 8px #404348,
                inset 0 -4px 8px #111214;
}

#re-player-2nd {
    border-radius: 0 5px 5px 0;
    box-shadow: inset 0 4px 8px #404348,
                inset -4px -4px 8px #111214;
    position: relative;    
}

/* visuals container */

#re-player-visuals {
    height: 290px;
    width: 290px;
    position: relative;
    top: 5px;
    background: #141313;
    box-shadow: inset 3px 3px 6px #0a0a0a,
                inset -3px -3px 6px #404348;
}

/* vinyl record mockup */

.player-vinyl {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    border: 3px solid #000;
    background: url('../images/graphics/vinyl-prototype-1.png') center center /cover;
    position: absolute;
    top: 8.5px;
    left: 8.5px;
    overflow: hidden;
    animation: vinylspin 1.8s linear infinite;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}

.player-vinyl.playing {
    -webkit-animation-play-state: running;
    animation-play-state: running;
}

@keyframes vinylspin {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

.player-vinyl.stopped {
    animation: none;
}

.player-vinyl-ring {
    border: 1px solid #0f0f0f;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.ring1 {
    width: 135px;
    height: 135px;
}

.ring2 {
    width: 170px;
    height: 170px;
}

.ring3 {
    width: 200px;
    height: 200px;
}

.ring4 {
    width: 230px;
    height: 230px;
}

.ring5 {
    width: 264px;
    height: 264px;
    border: 3px solid #070707;
}

.player-vinyl img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.vinyl-hole {
    width: 8px;
    height: 8px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    position: absolute;
    top: 135px;
    left: 135px;
    transform: translate(50%, 50%);
    z-index: 2;
}

.vinyl-overlay {
    width: 270px;
    height: 270px;
    border-radius: 50%;
    position: absolute;
    top: 8.5px;
    left: 8.5px;
    z-index: 1;
    box-shadow: 4px 4px 4px #070707;

    background: linear-gradient(35deg,
        transparent 0%,
        transparent 10%,
        rgba(255, 255, 255, 0.0005) 20%,
        rgba(255, 255, 255, 0.001) 40%,
        rgba(255, 255, 255, 0.02) 45%,
        rgba(255, 255, 255, 0.05) 50%,
        rgba(255, 255, 255, 0.02) 55%,
        rgba(255, 255, 255, 0.001) 60%,
        rgba(255, 255, 255, 0.0005) 80%,
        transparent 90%,
        transparent 100%),

        linear-gradient(40deg,
        transparent 0%,
        transparent 10%,
        rgba(255, 255, 255, 0.0005) 20%,
        rgba(255, 255, 255, 0.001) 40%,
        rgba(255, 255, 255, 0.02) 45%,
        rgba(255, 255, 255, 0.05) 50%,
        rgba(255, 255, 255, 0.02) 55%,
        rgba(255, 255, 255, 0.001) 60%,
        rgba(255, 255, 255, 0.0005) 80%,
        transparent 90%,
        transparent 100%),

        linear-gradient(45deg,
        transparent 0%,
        transparent 10%,
        rgba(255, 255, 255, 0.0005) 20%,
        rgba(255, 255, 255, 0.001) 40%,
        rgba(255, 255, 255, 0.02) 45%,
        rgba(255, 255, 255, 0.05) 50%,
        rgba(255, 255, 255, 0.02) 55%,
        rgba(255, 255, 255, 0.001) 60%,
        rgba(255, 255, 255, 0.0005) 80%,
        transparent 90%,
        transparent 100%),

        linear-gradient(50deg,
        transparent 0%,
        transparent 10%,
        rgba(255, 255, 255, 0.0005) 20%,
        rgba(255, 255, 255, 0.001) 40%,
        rgba(255, 255, 255, 0.02) 45%,
        rgba(255, 255, 255, 0.05) 50%,
        rgba(255, 255, 255, 0.02) 55%,
        rgba(255, 255, 255, 0.001) 60%,
        rgba(255, 255, 255, 0.0005) 80%,
        transparent 90%,
        transparent 100%),

        linear-gradient(55deg,
        transparent 0%,
        transparent 10%,
        rgba(255, 255, 255, 0.0005) 20%,
        rgba(255, 255, 255, 0.001) 40%,
        rgba(255, 255, 255, 0.02) 45%,
        rgba(255, 255, 255, 0.05) 50%,
        rgba(255, 255, 255, 0.02) 55%,
        rgba(255, 255, 255, 0.001) 60%,
        rgba(255, 255, 255, 0.0005) 80%,
        transparent 90%,
        transparent 100%),
        
        linear-gradient(140deg,
        transparent 0%,
        transparent 40%,
        rgba(64, 64, 136, 0.01) 45%,
        rgba(64, 64, 136, 0.1) 50%,
        rgba(64, 64, 136, 0.01) 55%,
        transparent 60%,
        transparent 100%);
}

/* album cover mockup */

.player-album-art {
    width: 275px;
    height: 275px;
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    z-index: 3;
    transition: all 1s;
}

.player-album-art.playing {
    animation: sleeveoff 0.5s forwards ease-in;
}

@keyframes sleeveoff {
    from {transform: translateX(0);}
    to {transform: translateX(-100vw);}
}

.player-album-art.hidden {
    display: none;
}

.player-album-art.stopped {
    animation: sleeveon 0.5s forwards ease-out;
}

@keyframes sleeveon {
    from {transform: translateX(-150vw);}
    to {transform: translateX(0);}
}

.player-album-art img {
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.album-cover-overlay {
    width: 100%;
    height: 100%;
    background: url(../images/graphics/—Pngtree—transparent\ smooth\ polyethylene\ plastic\ warp_6851311.png) center center / cover;
    position: absolute;
    z-index: 4;
    opacity: 0.5;
}

/* full player seek slider */

#re-player-seek {
    width: 100%;
    padding: 12.5px 5px 5px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* full player controls containers */

#re-player-ctrls-1, #re-player-ctrls-2 {
    width: 100%;
}

.player-controls {
    width: 100%;
    padding: 15px 10px 5px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.secondary-ctrls {
    /* justify-content: space-between; */
    padding: 5px 10px;
}

/* track information section */

#re-player-info {
    width: 290px;
    height: 115px;
    background: url(../images/u_symbol_dark_grey.png) center center / contain;
    box-shadow: inset 3px 3px 6px #0a0a0a,
                inset -3px -3px 6px #404348;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.curr-track-name {
    padding: 15px 0 5px;
    font-weight: 700;
    /* font-family: 'Skranji', sans-serif; */
    font-size: 1.5rem;
}

.curr-track-artist {
    padding-bottom: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    /* font-family: 'Skranji', sans-serif; */
    font-size: 1.125rem;
}

.curr-track-album {
    padding-bottom: 5px;
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-size: 0.875rem; */
    text-transform: uppercase;
}

/* full player volume controls */

#re-player-vol {
    width: 180px;
    padding: 0;
}

.secondary-ctrls .mute-btn {
    width: 40px;
    height: 40px;
    font-size: 1rem;
}

.secondary-ctrls .mute-btn:active {
    font-size: 0.95rem;
}

#re-player-vol .volume-output {
    text-shadow: none;
}

/* track status information windows */

.track-status {
    width: 100%;
    padding: 0 10px;

    display: flex;
    justify-content: space-between;
}

.tracklist-info, .loop-info {
    width: 49%;
    height: 30px;
    padding: 2.5px 0;
    background: #000;
    box-shadow: inset 2px 2px 4px #0a0a0a,
                inset -2px -2px 4px #404348;
    text-align: center;
}

/* tracklist popup container */

.tracklist-menu {
    width: 100%;
    padding: 0 5px;
    position: absolute;
    bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

/* tracklist popup menu */

#re-player-tracklist {
    width: 100%;
    height: 0px;
    overflow: hidden;
    margin-bottom: 5px;
    padding: 0px 6px 0 3px;
    background: url(../images/u_symbol_dark_grey.png) no-repeat center center / contain, #000;
    box-shadow: inset 3px 3px 6px #0a0a0a,
                inset -3px -3px 6px #404348;
    transition: all 0.25s;

    display: flex;
    align-items: center;
}

#re-player-tracklist.re-player-open {
    height: 195px;
}

/* tracklist buttons container */

.re-list-btns {
    width: 100%;
    height: 185px;
    overflow-y: auto;
    scrollbar-gutter: stable;
    scrollbar-color: rgba(255, 255, 255, 0.2) #111214;
    scrollbar-width: thin;
}

/* tracklist buttons */

.re-list-btns .tracklist-btn {
    padding: 3px 5px;

    display: flex;
    align-items: center;
}

.re-list-btns .num-span {
    width: 12.5px;
}

.re-list-btns img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

.re-list-btns .track-length {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-52.5%);
    font-size: 0.8rem;
}

/* tracklist scrollbar */

.re-list-btns::-webkit-scrollbar {
    width: 10px;
}

.re-list-btns::-webkit-scrollbar-track {
    background: #111214;
    border-radius: 100vw;
}

.re-list-btns::-webkit-scrollbar-thumb {
    width: 10px;
    background: rgba(255, 255, 255, 0.2);
    border: 0.5px solid #000;
    border-radius: 100vw;
}

.re-list-btns::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.4);
}

/* tracklist popup toggle button */

.tracklist-menu-btn {
    width: 160px;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
}

.tracklist-menu-btn:hover {
    color: #fff;
}

.tracklist-menu-btn:active .menu-btn-text {
    font-size: 1.2rem;
}

.tracklist-menu-btn:active .menu-icon {
    width: 25px;
}

.tracklist-menu-btn:active .menu-icon span {
    height: 3px;
}

.tracklist-menu-btn:active .menu-icon span:nth-of-type(2) {
    margin: 4px 0;
}

/* external link buttons */

.re-spotify-link, .re-youtube-link {
    position: absolute;
    bottom: 10px;
    cursor: pointer;
}

.re-spotify-link {
    left: 15px;
}

.re-youtube-link {
    right: 15px;
}

.re-spotify-link a, .re-youtube-link a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #0a0a0a;
    background: linear-gradient(135deg, #2c3136, #1d2023);
    box-shadow: 5px 5px 10px #111214,
                -3px -3px 6px #36383c,
                inset 4px 4px 8px #404348,
                inset -4px -4px 8px #111214;
    
    font-size: 1.25rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.re-spotify-link a:hover, .re-youtube-link a:hover {
    color: #fff;
}

.re-spotify-link a:active, .re-youtube-link a:active {
    box-shadow: 5px 5px 10px #111214,
                -3px -3px 6px #36383c,
                inset -4px -4px 8px #404348,
                inset 4px 4px 8px #111214;
    font-size: 1.2rem;
}

/* full player page footer */

#re-player-foot {
    display: flex;
    justify-content: center;
}

.re-foot-content {
    width: 100%;
    max-width: 600px;
}

/* -------- old music page styles -------- */

#fossils img, #too-late img, #fossils-listen audio {
    width: 260px;
}

#fossils-listen audio {
    display: block;
    height: 20px;
}

            /************************************/
            /*                                  */
            /* ----------- Video page --------- */
            /*                                  */
            /************************************/

#video h2 {
    text-transform: uppercase;
}

#video hr {
    margin-bottom: 20px;
}

#video h2, #video p {   
    text-align: center;
}

#video p {
    font-size: 1.125rem;
}

.video-box {
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#music-video, #home-video {
    display: flex;
    flex-direction: column;
}

#music-video-text a, #home-video-text a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

#interview-video-text a {
    text-decoration: underline;
}

/* This solution to making an embedded YouTube video responsive while maintaining its aspect ratio was to be found all over after a single google search, but this specific code came from https://css-tricks.com/fluid-width-video */

.iframe-box {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
}

.iframe-box iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

            /************************************/
            /*                                  */
            /* ------ News & Events page ------ */
            /*                                  */
            /************************************/

/* --------- general page styles ---------- */

.news-page-main-header {
    background-color: #000;
}

#news-events {
    align-items: center;
}

#news-events h2 {
    text-transform: uppercase;
}

#news-events > h3 {
    text-decoration: underline;
    margin: 20px 0;
}

#news-header-image, #gigs-header-image {
    margin-top: 20px;
    width: 100vw;
    max-width: 1280px;
}

#news, #gigs {
    margin: 0 20px 10px;
    width: 100%;
    max-width: 950px;
    align-self: center;
}

#news-heading, #gigs-heading {
    z-index: 3;
    padding-top: 40px;
    background-color: #000;
}

.news-item, .gig-listing {
    padding: 10px 0 10px;
}

.news-item-heading, .gig-listing-heading {
    position: sticky;
    top: 100px;
    z-index: 1;
    padding-top: 10px;
    background-color: #000;
}

.news-header-wrapper, .gig-header-wrapper {
    position: relative;
    width: 100%;
    border-top: 1px solid #8b817f;
    border-bottom: 1px solid #8b817f;
    padding-top: 5px;
    background-color: #000;

    display: flex;
    align-items: flex-end;
}

.news-item-heading h3, .gig-listing-heading h3 {
    padding: 10px 0;
    text-align: center;
    width: 100%;
    background-color: #000;
}

.article-toggle-btn {
    position: relative;
    width: 100%;
    padding: 10px 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    /* font-family: 'Skranji', sans-serif; */
    font-size: 1.175rem;
    scroll-margin-top: 135px;
}

@media(hover: hover) and (pointer: fine) {
    .article-toggle-btn:hover {
        color: #8b817f;
    }
}

.dropdown-arrow-tab {
    display: block;
    height: 30px;
    width: 60px;
    border-radius: 0 0 30px 30px;
    border-bottom: 1px solid #8b817f;
    
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    background-color: #000;
}

.dropdown-arrow-tab i {
    transition: all 0.25s;
}

.article-toggle-btn-active i {
    transform: scaleY(-1);
}

/* This code for creating a fieldset-type effect came from the CSS Tricks website, posted by Chris Coyier on Jul 9, 2011 & updated on Apr 28, 2020.
https://css-tricks.com/snippets/css/non-form-fieldset-look/ */

.date-fieldset {
    position: absolute;
    top: 0;
    line-height: 1;
    background-color: #000;
    margin: -0.5em 0 0 10px;
    padding: 0 3px;
}

.article-body {
    padding-top: 25px;
    overflow: hidden;
}

.news-item-main, .gig-listing-main {
    width: 100%;
    padding: 0 5px;
    display: none;
}

.article-open {
    height: auto;
    display: block;
    animation: popuprolldown 0.25s forwards;
}

.article-closing {
    animation: popuprollup 0.25s linear;
}

@keyframes popuprolldown {
    from {transform: translateY(-100%); height: 0;}
    to {transform: translateY(0); height: auto;}
}

@keyframes popuprollup {
    from {transform: translateY(0); height: auto;}
    to {transform: translateY(-100%); height: 0;}
}

.news-item-main section, .gig-listing-main section, .gig-link {
    font-size: 1.125rem;
}

.news-item-main a, .gig-listing-main a {
    font-weight: 700;
}

/* --------- news items ----------- */

.news-item-main section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
}

.news-item-main span {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    /* font-family: 'Skranji', sans-serif; */
    /* font-weight: 400; */
}

.news-item-main img {
    width: 200px;
    margin: 10px 0 10px 20px;
}

.news-item-main iframe {
    margin: 10px 0 10px 20px;
}

.news-item-link, .gig-link {
    text-align: center;   
}

.news-item-link a, .gig-link a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

#too-late-news section {
    flex-direction: column;
    align-items: center;
}

#too-late-news section p:last-of-type {
    text-align: center;
}

#too-late-news ul {
    text-align: center;
}

#too-late-news figure {
    width: 220px;
}

#too-late-news img {
    margin: 10px;
}

#too-late-news figcaption {
    font-size: 1rem;
    line-height: 1;
    text-align: center;
    margin-top: 0;
}

/* --------- gig listings ---------- */

.gig-listing-main section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
}

.gig-listing-main section div {
    max-width: 300px;
}

.gig-listing-main ul {
    list-style-type: none;
}

.gig-listing-main img {
    width: 300px;
    margin: 10px;
}

/* Old news /events page styles */

.news-item-main summary, .gig-listing-main summary {
    text-align: right;
    text-decoration: underline;
}

            /************************************/
            /*                                  */
            /* --------- Gallery page --------- */
            /*                                  */
            /************************************/

/* --------- general styles ---------- */

#gallery {
    text-align: center;
}

#gallery-header-image {
    width: 100vw;
    margin-bottom: 20px;
}

#gallery-header-image, .gallery-box {
    margin-top: 20px;
    max-width: 1280px;
    align-self: center;
}

.gallery-box p, .gallery-box h3 {
    text-align: center;
}

.gallery-box h3:last-of-type {
    text-decoration: underline;
}

/* --------- image carousels ---------- */

.gallery-carousel {
    margin-top: 10px;

    display: flex;
    flex-direction: column;
}

/* main carousel window */

.gallery-active-section {
    height: 400px;
    width: 100%;
    max-width: 800px;
    margin-bottom: 10px;
    position: relative;
    border: 1px solid #8b817f;
    background-color: #000;
    overflow: hidden;

    display: flex;
    align-self: center;
}

/* main image container */

.gallery-active-img-wrap {
    position: absolute;
    height: 100%;
    width: 100%;
}

.gallery-active-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.img-counter {
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: center;
}

.img-counter p {
    width: 175px;
    padding: 2.5px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

/* previous/next button comtainers */

.prev-btn-container, .next-btn-container {
    position: absolute;
    height: 100%;

    display: flex;
    align-items: center;
}

.next-btn-container {
    right: 0;
}

/* ---------- buttons ----------- */

/* prev/next buttons */

.prev-btn, .next-btn {
    margin: 15px;
    background: transparent;
    font-size: 30px;
    cursor: pointer;
}

.prev-btn i, .next-btn i {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.25s;
}

@media(hover: hover) and (pointer: fine) {
    .prev-btn i:hover {
        background: #fff;
        transform: translateX(-5px);
    }
}

@media(hover: hover) and (pointer: fine) {
    .next-btn i:hover {
        background: #fff;
        transform: translateX(5px);
    }
}

/* thumbnail buttons */

.gallery-thumbnails {
    line-height: 0;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;  
}

.gallery-thumb-btn {
    height: 75px;
    width: 75px;
    margin: 2px;
    padding: 0;
    background: #000;
    cursor: pointer;
    transition: all 0.25s ;
}

@media(hover: hover) and (pointer: fine) {
    .gallery-thumb-btn:hover {
        background: #fff;
        transform: translateY(-2.5px);
        box-shadow: 0 2.5px 2.5px -1px #fff;
    }
}

.gallery-thumb-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 1px solid #8b817f;
    padding: 1px;
    opacity: 0.85;
}

.active-thumb {
    pointer-events: none;
}

.active-thumb img {
    opacity: 1;
    transform: translateY(-2px);
    border: 2.5px solid #fff;
    box-shadow: 0 2.5px 2.5px #fff;
}

/* gallery animations */

@keyframes fade-out-in {
    0% {opacity: 1;}
    25% {opacity: 0;}
    75% {opacity: 0;}
    100% {opacity: 1;}
}

.img-fade {
    animation: fade-out-in 500ms forwards;
}

@keyframes slide-left {
    0% {transform: translateX(0); opacity: 1;}
    40% {transform: translateX(-100%); opacity: 1;}
    45% {transform: translateX(-100%); opacity: 0;}
    55% {transform: translateX(200%); opacity: 0;}
    60% {transform: translateX(200%); opacity: 1;}
    100% {transform: translateX(0); opacity: 1;}
}

.img-slide-left {
    animation: slide-left 500ms forwards;
}

@keyframes slide-right {
    0% {transform: translateX(0); opacity: 1;}
    40% {transform: translateX(100%); opacity: 1;}
    45% {transform: translateX(100%); opacity: 0;}
    55% {transform: translateX(-200%); opacity: 0;}
    60% {transform: translateX(-200%); opacity: 1;}
    100% {transform: translateX(0); opacity: 1;}
}

.img-slide-right {
    animation: slide-right 500ms forwards;
}

.highlight-right {
    background-color: rgba(255, 255, 255, 1);
    transform: translateX(10px);
    transition: all 500ms;
}

.highlight-left {
    background-color: rgba(255, 255, 255, 1);
    transform: translateX(-10px);
    transition: all 500ms;
}

/* gallery social links */

#gallery-insta-link {
    text-align: center;
    margin: 20px 0;
}

/* old gallery page */

.picture-box {
    line-height: 0;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;  
}

.picture-box img {
    height: 200px;
    margin: 2.5px;
    border: 1px solid #8b817f;
    padding: 5px;
}

            /************************************/
            /*                                  */
            /* --------- Contact page --------- */
            /*                                  */
            /************************************/

/* ---------- general styles ----------- */

#contact-box {
    margin: 20px 0 40px;
    
    display: flex;
    justify-content: space-evenly;
}

/* ------------ signup form ------------ */

#signup {
    background: url(../images/moe_sil_bg_1.jpg) no-repeat center center / cover;
    height: 600px;
    max-width: 400px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#signup h2 {
    margin: 5px;
    text-align: center;
}

.signup-form {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 0 5px 5px 100px;
    padding: 10px;
    border-radius: 5px;
}

.signup-form legend span {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    /* font-family: 'Skranji', sans-serif; */
}

.text-input {
    background: transparent;
    color: #fff;
    width: 100%;
    height: 24px;
    margin: 5px 0;
    border: 1px solid #8b817f;
    border-radius: 5px;
}

@media(hover: hover) and (pointer: fine) {
    .text-input:hover {
        background-color: rgba(139, 129, 127, 0.3);
        transition: background-color 0.5s;
    }
}

#age-range p {
    text-align: center;
}

#age-range label {
    padding: 0 5px;
}

#age-range label:nth-of-type(2n) {
    margin-left: 50px;
}

@media(hover: hover) and (pointer: fine) {
    .click-input:hover {
        cursor: pointer;
    }
}

#signup-button-box {
    margin-top: 5px;

    display: flex;
    justify-content: center;
}

.signup-button {
    background-color: rgba(0, 0, 0, 0.7);
    color: #8b817f;
    padding: 5px 10px;
    border: 1.5px solid;
    border-radius: 5px;    
}

/* The basic code for the following hover effect on the form's submit button came from Colt Steele's Udemy course, 'The Web Developer Bootcamp' */

@media(hover: hover) and (pointer: fine) {
    .signup-button:hover {
        color: #fff;
        background: transparent;
        transform: translateY(-1px);
        box-shadow: 0 2.5px 2.5px -1px;
        cursor: pointer;
        transition: all 0.25s ;
    }
}

/* ---------- contact information ----------- */

#management, #contact-info {
    width: 400px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#management img {
    width: 300px;
}

.social-media-link a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.email-link {
    text-align: center;
}

.email-link span {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    /* font-family: 'Skranji', sans-serif; */
}

#contact-info img {
    width: 100px;
}

/* --------- dummy page for signup form ----------- */

#dummy {
    margin: 0 20px;
    align-items: center;
    text-align: center;
}

#u-dummy {
    margin: 150px 0 5px;
    justify-content: center;
    align-items: baseline;
}

#u-dummy img {
    height: 22px;
    margin-left: 15px;
}

#dummy h2, #dummy h3 {
    margin-bottom: 20px;
}

#dummy audio {
    height: 20px;
    width: 300px;
}

#dummy-logo {
    width: 100px;
    margin: 20px 0;
}

#dummy h3:last-of-type {
    margin-bottom: 100px;
    text-decoration: underline;
}

            /************************************/
            /*                                  */
            /* --------- Media queries -------- */
            /*                                  */
            /************************************/

/* ---------- for responsive design ----------- */

/* for medium-large screens, up to 962 pixels wide */

@media screen and (max-width: 962px) {
    
    /* old gallery page */
    .picture-box img {
        height: 150px;
    }
            
}

/* for larger screens, wider than 820 pixels */

@media screen and (min-width: 821px) {

    /* header navigation menu */
    #main-menu-btn {
        display: none;
    }

    /* old header navigation menu */
    #main-menu-dropdown {
        display: none;
    }
}

/* for medium-sized screens, up to 820 pixels wide */

@media screen and (max-width: 820px) {

    /* header navigation menu */
    
    .main-menu-responsive {
        position: absolute;
        top: 100px;
        right: 0;
        width: 150px;
        height: 0;
        border-radius: 0 0 5px 5px;
        background-color: rgba(0, 0, 0, 0.9);
        overflow: hidden;
        transition: all 0.25s;
    }

    #main-menu-items li {
        display: block;
        padding: 10px;
    }

    .main-menu-open {
        height: 320px;
    }

    /* old header navigation menu */
    #main-menu-inline {
        display: none;
    }
}

/* for larger screens, wider than 800 pixels */

@media screen and (min-width: 801px) {

    /* music page */
    #albums hr {
        display: none;
    }
    
}

/* for medium-sized screens, up to 800 pixels wide */

@media screen and (max-width: 800px) {

    /* band page */

    #band-bio-foreword div {
        flex-direction: column;
    }

    #band-bio-foreword img {
        width: 100%;
    }

    /* music & video pages */
    #albums, .video-box {
        flex-direction: column;
    }

    /* news-events page */

    .news-item-main section, .gig-listing-main section {
        flex-direction: column;
    }

    .news-item-main img, .news-item-main iframe {
        margin: 10px;
    }

    /* gallery page */
    .gallery-thumb-btn {
        height: 65px;
        width: 65px;
    }

    /* contact page */

    #contact-box {
        flex-direction: column;
        align-items: center;
    }

    #management, #contact-info {
        width: 100%;
    }

}

/* for medium-sized screens, up to 700 pixels wide */

@media screen and (max-width: 700px) {

    /* gallery page */
    .gallery-thumb-btn {
        height: 55px;
        width: 55px;
    }

    /* old gallery page */
    .picture-box img {
        height: 100px;
    }

}

/* for medium to smaller screens, up to 620 pixels wide (music
   player breakpoint) */

@media screen and (max-width: 620px) {

    /* music player */

    #re-player-1st {
        border-radius: 5px 5px 0 0;
        box-shadow: inset 4px 4px 8px #404348,
                    inset -4px 0 8px #111214;
    }
    
    #re-player-2nd {
        border-radius: 0 0 5px 5px;
        box-shadow: inset 4px 0 8px #404348,
                    inset -4px -4px 8px #111214;
        position: relative;    
    }
}

/* for medium to smaller screens, wider than 600 pixels */

@media screen and (min-width: 601px) {

    /* band page */

    #band-members hr {
        display: none;
    }

    #paul-bio, #moe-bio {
        flex-direction: row-reverse;
        text-align: right;
    }
    
}

/* for smaller screens, up to 600 pixels wide */

@media screen and (max-width: 600px) {

    /* header navigation menu */
    /* #main-menu {
        font-size: 1rem;
    } */

    /* band page */

    .band-bio-body div {
        flex-direction: column;
        text-align: left;
    }

    .band-bio-body img {
        width: 100%;
    }

    .band-bio-body p, #band-bio-afterword {
        font-size: 1rem;
    }

    /* media pages */

    .media-page-heading h1, .page-divider-heading h1 {
        font-size: 1.75rem;
    }

    .general-main-body h2 {
        font-size: 1.25rem;
    }

    /* video & news-events pages */
    #video p, .news-item article, .gig-listing-main section, .gig-link {
        font-size: 1rem;
    }

    /* gallery page */
    
    .gallery-active-section {
        height: 300px;
    }

    .prev-btn, .next-btn {
        font-size: 25px;
    }

    .prev-btn i, .next-btn i {
        height: 25px;
        width: 25px;
    }

    .gallery-thumb-btn {
        height: 40px;
        width: 40px;
    }

}

/* for small screens, up to 400 pixels wide */

@media screen and (max-width: 400px) {

    /* gallery page */

    #gallery-page-heading {
        flex-direction: column;
    }
    
    #gallery-page-heading img {
        height: 10px;
    }
    
    .gallery-active-section {
        height: 200px;
    }

    .gallery-thumb-btn {
        height: 32.5px;
        width: 32.5px;
    }

    /* contact page */
    .signup-form {
        max-width: 275px;
        margin: 0 10px 10px;
    }

}
